// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // hero // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#hero {
  position: relative;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  #custome-carousel {
    --height-desktop: 918.72px; // 750px original
    --height-mobile: 179.89px; // 450px original
    max-height: var(--height-desktop);
    .btn-carousel-absolute{
      position: absolute;
      // top: 450px;
      left: 60px;
      right: 0;
      max-width: 200px;
      background-color: #fff;
      --c: #000!important;
      --fw: 700!important;
      padding: .5em clamp(1em, 3vw, 2.5em);
      box-shadow: 3px 3px 10px 6px rgba(0,0,0,.3);
      @include media(min, 2100px){top: 700px;}
      @include media(min, 2500px){top: 750px;}
      @include media(min, 2700px){top: 850px;}
      @include media(max, 2100px){top: 700px;}
      @include media(max, 1900px){top: 600px;}
      @include media(max, 1600px){top: 450px;}
      @include media(max, 1250px){top: 400px;}
      @include media(max, 960px){
        top: 20px;
        left: 20px;
        margin: 0px;
        min-height: 30px!important;
        width: max-content!important;
      }
    }
    .v-skeleton-loader {
      height: var(--height-desktop);
      @include media(max, 880px) {height: var(--height-mobile)}
    }
    .v-responsive__content {
      @include media(max, 880px) {min-height: var(--height-mobile)}
    }
    .v-image__image {
      background-size: 100% !important;
      @include media(max, 880px) {background-size: cover !important}
    }
    .v-window__prev, .v-window__next {
      // max height referencial
      top: 40%; // <-- if all images are same size
      button {
        --size: clamp(27px, 2vw, 36px);
        width: var(--size);
        height: var(--size);
        i {
          font-size: clamp(30px, 2vw, 48px) !important;
        }
      }
    }
    .v-carousel__controls {
      button {
        --size: clamp(20px, 2vw, 28px);
        width: var(--size);
        height: var(--size);
        background-color: #fff;
        border-radius: 0;
        i {display: none}
      }
      .v-btn--active {background-color: var(--active)}
    }
  }
}
