// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // hero // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#hero {
  position: relative;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  #custome-carousel {
    max-height: 750px;
    .v-responsive__content {
      @include media(max, 880px) {min-height: 450px}
    }
    .v-image__image {
      background-size: 100% !important;
      @include media(max, 880px) {background-size: cover !important}
    }
    .v-window__prev, .v-window__next {
      // max height referencial
      top: calc(clamp(30em, 46vw, 46.875em) / 2);
    }
    .v-carousel__controls {
      button {
        background-color: #fff;
        border-radius: 0;
        i {display: none}
      }
      .v-btn--active {background-color: var(--active)}
    }
  }
}
