// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // hero // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#hero {
  position: relative;
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  #custome-carousel {
    .v-responsive__content {
      @include media(max, 880px) {
        min-height: 450px;
      }
    }
    .v-image__image {
      background-size: 100% !important;
      @include media(max, 880px) {
        background-size: cover !important;
      }
    }
    .v-carousel__controls {
      button {
        background-color: #fff;
        border-radius: 0;
        i {display: none}
      }
      .v-btn--active {background-color: var(--active)}
    }
  }
}
