// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // join // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#join {
  position: relative;
  width: 100vw;
  min-height: 465px;
  margin-inline: calc(50% - 50vw);
  padding-block: 4em;
  background: center no-repeat fixed url(../../../sources/images/img-parallax.jpg);
  background-size: cover;
  &-wrapper {
    max-width: var(--parent);
    width: 100%;
    padding-inline: var(--margin-global);
    article {
      background-color: hsl(0, 70%, 25%, .4);
      padding: 2em;
      border-radius: .2vmax;
      h2 {
        text-align: center;
        @include media(max, small) {text-decoration: underline}
      }
      p, button {font-size: 1.2em; line-height: 1.2}
      .v-btn {
        @include media(max, 565px) {--w: 100% !important}
      }
    }
  }
}
