// @forward "base";
// @forward "default-settings";
// @forward "mixins";
// @forward "personal-classes";
// @forward "responsive";
// @forward "variables";
// @use "mixins" as *;
// @use "variables" as *;
@import "base";
@import "default-settings";
@import "mixins";
@import "personal-classes";
@import "responsive";
@import "variables";



///////////////////// global ///////////////////////
:root {
  --margin-separator: 48px;
  @include media(max, x-small) {--margin-separator: 18px};
}

// filters
.container-filters {
  padding-inline: var(--margin-separator);
}

// h2 titles
h2.Title {
  font-size: 3em;
  // lines separators
  position: relative;
  padding-bottom: 25px;
  padding-inline: var(--margin-separator);
  margin-top: 1em;
  margin-bottom: var(--h-title);
  border: 0 solid var(--primary);
  border-left-width: 1px;
  border-bottom-width: 1px;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(var(--h-title));
    border-right: 1px solid var(--primary);
  }
}

// expansion panels
.custome-expansion {
  --margin-line: 2em;
  box-shadow: none !important;
  position: relative;
  &:not(#artist-about) {padding-inline: var(--margin-separator)}
  &#artist-about {
    margin-bottom: calc(var(--margin-line) * 1.8);
    padding-bottom: var(--margin-line);
    // line
    &::after {
      content: "";
      @include absolute(0,auto,0,0);
      width: 100%;
      height: 1px;
      background-color: var(--primary);
    }
  }
  .v-expansion-panel {
    background-color: transparent !important;
    &:not(:first-of-type) {margin-top: 1em}
    &::before {display: none !important}
    i {font-size: 1.8em}
    p {
      font-size: 1em;
      line-height: 1.2;
      &:last-child {margin-bottom: 0 !important}
    }
    &-header {
      font-size: 1.5em;
      border-radius: 5px;
      background-color: rgb(0, 0, 0, .4);
      &--active, &:hover {
        --c: var(--accent) !important;
        background-color: rgb(0, 0, 0, .8);
      }
    }
    &-content__wrap {padding-top: 16px}
  }
}

// profit
.container-profit {
  --margin-block: 3em;
  --margin-inline: var(--margin-separator);
  background-color: rgb(0, 0, 0, .4);
  border-radius: 5px;
  margin-inline: var(--margin-inline);
  margin-block: var(--margin-block);
  --fb: max-content;
  .v-sheet {
    padding: 1.5em 2em;
    position: relative;
    &:not(:last-child)::after {
      content: "";
      @include absolute(auto,0,0,0);
      width: 1px;
      height: 60%;
      background-color: var(--accent);
    }
    span {
      &:first-of-type {
        font-size: 1.125em;
      }
      & + span {
        --c: var(--accent);
        font-size: 2.0625em;
        margin-top: 3px;
      }
    }
    div span {
      --c: var(--accent);
      font-size: 2.0625em !important;
      margin-top: 3px;
    }
  }
}

// search
.search {
  .v-input__append-inner {border-left: 1px solid #fff; transition: .2s}
  &.primary--text .v-input__append-inner {border-left-color: var(--accent)}
}

// pagination
.pagination {
  padding: .2em;
  .v-btn {
    min-width: max-content !important;
    border: none !important;
  &::before {display: none !important}}
}

// button
.view-all__btn {
  --bg: #000;
  --p: .5em clamp(1em, 3vw, 2.5em);
  --bs: 3px 3px 10px 6px rgba(0,0,0,.3);
  @include media(max, small) {--w: min(80%, 40.5625em)}
}

//- close -//
.close {
  --top: 0;
  --right: 0;
  position: absolute !important;
  top: var(--top);
  right: var(--right);
}

//- drawer -//
.v-navigation-drawer:not(.not_vuetify, .not) {
  --w-drawer: 300px;
  @include media(max, x-small) {--w-drawer: 100vw}
  width: var(--w-drawer) !important;
  background: linear-gradient(to right bottom, var(--primary), var(--secondary)) !important;
  .v-navigation-drawer__content {
    --h-drawer-header: 158.13px;
    //
    --padding-drawer-header: 2em;
    &--header {
      padding: 1em;
      padding-top: var(--padding-drawer-header);
      position: relative;
      // line
      &::before {
        content: "";
        @include absolute(0,auto,0,0);
        height: 1px;
        width: 60%;
        background-color: var(--clr-line);
        border-radius: 50% / 3vmax;
      }
    }

    &--content {
      height: calc(100% - (var(--h-drawer-header) + var(--padding-drawer-header)) );
      & > :is(.v-expansion-panels, .v-list .v-list-item) {
        span, img {
          font-weight: 400;
          color: #FFFFFF;
        }
      }
      .v-list {
        padding: 0;
        &-item {
          transition: .2s $ease-return;
          &__title {
            max-width: 60%;
            margin-inline: auto;
            padding: 0;
            transition: .2s $ease-return;
          }
          &.active, &:hover {
            background-color: var(--primary);
            .v-list-item__title {transform: translateX(30%)}
          }
        }
      }
    }
    
    &--footer {
      padding-block: 1.5em 2em;
      position: relative;
      // line
      &::before {
        content: "";
        @include absolute(0,0,0,auto);
        height: 1px;
        width: 60%;
        background-color: var(--clr-line);
        border-radius: 50% / 3vmax;
      }
    }
  }
}
