// @forward "base";
// @forward "default-settings";
// @forward "mixins";
// @forward "personal-classes";
// @forward "responsive";
// @forward "variables";
// @use "mixins" as *;
// @use "variables" as *;
@import "base";
@import "default-settings";
@import "mixins";
@import "personal-classes";
@import "responsive";
@import "variables";



///////////////////// global ///////////////////////

// button
.view-all__btn {
  --bg: #000;
  --p: .5em clamp(1em, 3vw, 2.5em);
  --bs: 3px 3px 10px 6px rgba(0,0,0,.3);
  @include media(max, small) {--w: min(80%, 40.5625em)}
}

//- close -//
.close {
  --top: 0;
  --right: 0;
  position: absolute;
  top: var(--top);
  right: var(--right);
}
