// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // artist-details // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#artist-details {
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;

    .header {
    --margin-items: 3em;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    margin-bottom: calc(var(--h-header-title) / 2.5);
    height: 50em;
    background: center no-repeat var(--bg-image);
    background-size: cover;
    position: relative;
    isolation: isolate;
    &-title {
      @include absolute(0,auto,auto,calc(var(--h-header-title) / 2.5 * -1));
      width: calc(100% - (var(--w-header-social) + var(--margin-items) + clamp(1em, 2vw, 2em)));
      min-height: 15em;
      background-color: #000;
      z-index: 2;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 0 200px 200px 0;
      h2 {
        margin-left: 1.5em;
        margin-right: var(--w-avatar);
      }
      img {
        @include absolute(auto,0,0,0);
        --h: calc(100% + 25px);
        --b: 25px solid #000;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }
    }
    &-social {
      @include absolute(0,auto,0,calc(var(--h-header-social) * -1));
      background-color: rgb(0, 0, 0, .4);

      display: flex;
      justify-content: flex-end;
      padding-inline: var(--margin-items);
      padding-block: .8em;
      z-index: 1;
    }
  }

  .v-item-group {
    .v-slide-group {
      &__next--disabled i,
      &__prev--disabled i {filter: invert(77%)}
      &__content {
        --basis: 300px;
        gap: 2em;
        // padding-inline: 70px;
        display: flex;
        justify-content: space-between;
        > * {flex-basis: var(--basis)}
        .v-sheet {
          --padding: 10px;
          padding: var(--padding);
          gap: var(--padding);
          padding-bottom: 2em;
          border-radius: 5px;
          max-width: var(--basis);
          * {white-space: initial}
          .v-card {
            @include media(max, 700px) {--max-w-child: 400px; margin-inline: auto}
            transition: .5s $ease;
            .container-content {
              position: relative;
              margin-top: calc(20px + 5px)
            }
            .v-avatar {
              @include absolute(0,-50px,0,);
            }
            a {font-size: 15px; text-decoration: underline; margin-bottom: .3em}
            p {font-size: 13px}
            span.floor {font-size: 15px; font-weight: bold}
          }
          .tier-desc {
            --gap: .5em;
            gap: var(--gap);
            ul, a {padding-inline: 24px}
            a {
              line-height: 1.2;
              text-align: center;
              text-decoration: underline;
            }
            ul {
              display: grid; gap: var(--gap);
              li::marker {
                color: var(--accent);
              }
            }
          }
          .container-actions {
            a {
              --margin: 1em;
              --c: var(--accent);
              text-align: center;
              width: 100%;
              text-decoration: underline;
              position: relative;
              margin-block: var(--margin);
              padding-bottom: var(--margin);
              &::after {
                content: "";
                @include absolute(0,auto,0,0);
                width: 100%;
                height: 1px;
                border-radius: 2vmax;
                background-color: var(--primary);
              }
            }
          }
        }
      }
    }
  }

  .container-collections {
    --gtc: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    padding-inline: var(--margin-separator);
    margin-bottom: 6em;
    gap:2em;
    .v-card {
      max-width: 300px !important;
    }
  }
}
