#create-event{
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;
  padding-top: 4em;

  .container-ticket-img{
    max-width: 200px;
    width: 200px;
    max-height: 310px;
    height: 310px;
    margin-inline: 15px;

    .ticket-for-img{
      max-width: 200px;
      width: 200px;
      max-height: 310px;
      height: 310px;  
    }

    .border-img{
      display: none;
    }
  }

  .container-ticket-img-5{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 71px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 167px;
      object-fit: cover;
    }
  }

  .container-ticket-img:hover{
    cursor: pointer;
    .no-border-img{
      display: none;
    }
    .border-img{
      display: block;
    }
  }

  .mdi-menu-right, .mdi-menu-left{
    font-size: 40px;
  }

  .btns-div{
    margin-block: 80px;
    @include media(max, 690px){
      flex-direction: column;
    }

    .btn{
      min-width: 200px!important;
    }
    .btn-white{
      background-color: #fff!important;
      --c: var(--primary)!important;
    }
  }

  .nft-upload-div{
    background-color: rgba(255, 255, 255, .4); 
    max-height: 484px; 
    min-height: 100%; 
    min-width: 100%;
    max-width: 100%;
    position: relative;
    border: 2px dashed #fff;
    overflow: hidden;

    @include media(max, 960px){
      height: 400px;
    }
  }

  .absolute-font{
    color: #cbcaca;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 250px;
    left: 0;
    right: 0;
    z-index: 1!important;
  }

  .btn-input-file{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 150px!important;
    max-height: 40px!important;
    z-index: 3!important;
  }

  .imgMainBanner{
    max-height: 484px; 
    min-height: 100%; 
    min-width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 3!important;
  }

  .window-2, .window-3, .window-4, .window-5{
    input{
      text-transform: none!important;
    }

    .underline{
      text-decoration: underline;
      cursor: pointer;
    }

    section.card{
      --bg: rgba(0, 0, 0, .4);
      padding-inline: 30px;
      padding-block: 40px;

      label {
        font-weight: bold;
        font-size: 1.3em;
        text-transform: capitalize;
      }

      .v-input__slot::after{
        display: none;
      }
  
      .v-input {
        overflow: hidden;
        padding-top: 0;
       
        &__slot::before {
          background-color: hsl(0, 84%, 58%);
          border-color: hsl(0, 84%, 58%);
        }
      }
    }

    .btns-div{
      margin-block: 80px;
      @include media(max, 690px){
        flex-direction: column;
      }
      .btn{
        min-width: 200px!important;
      }
      .btn-white{
        background-color: #fff!important;
        --c: var(--primary)!important;
      }
    }

    .h2-title{
      font-size: 35px!important;

      @include media(max, 690px){
        font-size: 22px!important;
      }
    }

    .div-for-plus-minus{
      position: relative;

      .minus-plus-div{
        position: absolute;
        right: 0;
        top: -20px;
        bottom: 0px;

        .btn-plus-minus{
          min-width: 20px!important;
          max-width: 20px!important;
          width: 20px!important;
          min-height: 20px!important;
          max-height: 20px!important;
          height: 20px!important;
          padding-block: 5px!important;
          padding-inline: 5px!important;
        }
      }
    }

    .btn-add{
      background-color: #F7931E;
      padding: 7px!important;
      min-width: 20px!important;
      max-width: 20px!important;
      width: 20px!important;
      min-height: 20px!important;
      max-height: 20px!important;
      height: 20px!important;
    }

    .btn-yellow{
      background-color: #F7931E!important;
      min-width: 150px!important;
      max-width: 150px!important;
      width: 150px!important;
    }
    .btn-white{
      background-color: #FFFFFF!important;
      --c: var(--primary)!important;
      min-width: 150px!important;
      max-width: 150px!important;
      width: 150px!important;
    }
  }

  .window-5{
    padding-bottom: 100px;
  }
}


.v-dialog{
  display: grid;
  place-items: center;
  overflow: hidden;
  width: max-content;

  .container-ticket-img-1{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 28.5px;
      left: 27.5px;
      right: 27.5px;
      width: 145px;
      border-radius: 50%;
      height: 145px;
      object-fit: cover;
    }

    .black-circle{
      position: absolute;
      top: 75px;
      left: 77.5px;
      right: 77.5px;
      width: 45px;
      border-radius: 50%;
      height: 45px;
      background-color: #000000;
    }
  }

  .container-ticket-img-2{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 40px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 190px;
      object-fit: cover;
    }
  }

  .container-ticket-img-3{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 66px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 170.5px;
      object-fit: cover;
    }
  }

  .container-ticket-img-4{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 59px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 175px;
      object-fit: cover;
    }
  }

  .container-ticket-img-5{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 71px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 167px;
      object-fit: cover;
    }
  }

  .container-ticket-img-6{
    width: 200px;
    height: 310px;
    position: relative;
    // transform: rotate3d(0, 0.5, 0, 20deg);

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 27.5px;
      left: 27.5px;
      right: 27.5px;
      width: 145px;
      border-radius: 40% 40% 0% 0%;
      height: 205px;
      object-fit: cover;
    }

    .black-circle{
      position: absolute;
      top: 75px;
      left: 72.5px;
      right: 72.5px;
      width: 55px;
      border-radius: 50%;
      height: 55px;
      background-color: #000000;
    }
  }

  .btns-div{
    margin-top: 20px;
    @include media(max, 690px){
      flex-direction: column;
    }
    .btn{
      min-width: 200px!important;
    }
    .btn-white{
      background-color: #fff!important;
      --c: var(--primary)!important;
    }
  }
}

#modalBuy{
  padding: 50px 70px 50px 70px;

  .btn-modal{
    max-height: 50px!important;
  }
}

.v-date-picker-table{
  background-color: #390e0e!important;
}

.v-date-picker-header{
  background-color: #390e0e!important;
}

.v-date-picker-years{
  background-color: #390e0e!important;
}