// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // event // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#event {
  --margin-separator: 48px;
  --padding-header: clamp(1em, 4vw, 4em);
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;

  .header {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    @include media(min, small) {--gtc: repeat(2, 1fr)}
    &-background {
      @include media(max, small) {height: 400px}
      background: no-repeat center url(../../sources/images/img-event-header.jpg);
      background-size: cover;
      padding: var(--padding-header);
    }
    article {
      --br: none;
      padding: calc(var(--padding-header) * 2);
      padding-bottom: calc(var(--padding-header) * 2 + 2em);
      .v-btn span {text-transform: capitalize}
      div .v-btn.btn {
        --br: 5px;
        --w: max-content;
        --bg: linear-gradient(to right, #EE3938, #000000);
        --min-h: 2.3em;
        --fs: 12.8px;
        --p: 0 1.5em;
        font-weight: 600;
        text-transform: capitalize;
      }
      h2 {font-size: 3.5em}
      span:not(.v-btn__content), p {font-weight: 500; font-size: 1.05em}
      p {line-height: 1.2}
    }
  }

  .container-profit {
    --margin-block: 0;
    --margin-inline: calc(50% - 50vw);
    width: 100vw;
  }

  h2#title {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    text-align: center;
    background-color: rgb(0, 0, 0, .2);
    margin-block: 2em;
    padding: .8em;
  }

  .container-desc {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    @include media(min, small) {--gtc: repeat(2, 1fr)}
    article {
      --bg: rgba(0, 0, 0, .4);
      --br: none;
      --p: calc(var(--padding-header) * 2);
      padding-bottom: calc(var(--padding-header) * 2 + 2em);
      h3 {font-size: 3em; font-weight: 600}
      p {line-height: 1.2; font-weight: 400; font-size: 1.05em}
    }
  }

  .map {
    background-color: #000;
    position: relative;
    .v-btn {
      --w: min(100%, 15em);
      @include absolute(0,auto,0,2em);
      & span {text-transform: uppercase}
    }
  }

  #custome-carousel {
    margin-bottom: 4em;
    .v-responsive__content {
      --padding: calc(3.125em + 2.5em);
      display: flex;
      justify-content: space-evenly;
      > * {flex-basis: 260px}
      gap: 2em;
      padding-inline: var(--padding);
      .v-card {
        --spacing: .5em;
        padding-bottom: 2em;
        @include media(max, 700px) {--max-w-child: 400px; margin-inline: auto}
        gap: calc(20px + 5px);
        transition: .5s $ease;
        &.uranium:hover {--bg: linear-gradient(to top right, #87B95C, #9F9B1B, #0C4020)}
        &.diamond:hover {--bg: linear-gradient(to top right, #DBDBDB, #AC38EE, #45348E, #B49176)}
        &.platinum:hover {--bg: linear-gradient(to top right, #DBD9D7, #D27073, #503367, #000000)}
        &.gold:hover {--bg: linear-gradient(to top right, #EE9938, #672F04)}
        &.silver:hover {--bg: linear-gradient(to top right, #D1D1D1, #000000)}
        &.bronze:hover {--bg: linear-gradient(to top right, #7D3716, #D57535, #5E170B)}
        .v-avatar {
          @include absolute(0,auto,0,-20px);
        }
        a {font-size: 0.9375em; text-decoration: underline; margin-bottom: .3em}
        p {font-size: 0.8125em}
        span.floor {font-size: 0.9375em; font-weight: bold}
        .container-img {
          position: relative;
          // tag state
          &::before {
            content: var(--tag-state);
            position: absolute;
            right: var(--spacing);
            top: var(--spacing);
  
            display: grid;
            place-content: center;
  
            @include btn;
            --br: 5px;
            --w: max-content;
            --bg: linear-gradient(to right, #EE3938, #000000);
            --min-h: 2.3em;
            --fs: 12.8px;
            --p: 0 1.5em;
            font-weight: 600;
            text-transform: capitalize;
          }
          &.live:after {--bs: inset 0 0 1px 1px #fff}
          // tag tier
          &::after {
            content: var(--tag-tier);
            position: absolute;
            left: 0;
            bottom: 0;
  
            display: grid;
            place-content: center;
  
            @include btn;
            --br: 5px;
            --w: max-content;
            --min-h: 2.3em;
            --fs: 12.8px;
            --p: 0 1.5em;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
        &.uranium .container-img::after {--bg: linear-gradient(to right, #87B95C, #9F9B1B, #0C4020)}
        &.diamond .container-img::after {--bg: linear-gradient(to right, #DBDBDB, #AC38EE, #45348E, #B49176)}
        &.platinum .container-img::after {--bg: linear-gradient(to right, #DBD9D7, #D27073, #503367, #000000)}
        &.gold .container-img::after {--bg: linear-gradient(to right, #EE9938, #672F04)}
        &.silver .container-img::after {--bg: linear-gradient(to right, #D1D1D1, #000000)}
        &.bronze .container-img::after {--bg: linear-gradient(to right, #7D3716, #D57535, #5E170B)}
      }
      .tier-desc {
        --gap: .5em;
        gap: var(--gap);
        ul, a {padding-inline: 24px}
        a {
          line-height: 1.2;
          text-align: center;
          text-decoration: underline;
        }
        ul {
          display: grid; gap: var(--gap);
          li::marker {
            color: var(--accent);
          }
        }
      }
    }
    .v-btn--disabled {
      background-color: #A5A5A5 !important;
    }
  }
  .v-carousel__controls {
    button {
      background-color: #fff;
      border-radius: 0;
      width: 21.2px;
      height: 21.2px;
      i {display: none}
    }
    .v-btn--active {background-color: var(--active)}
  }
}
