#event-ticket-desc{
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;
  padding-top: 0em;

  .main-container{
    margin-inline: calc(50% - 50vw);
    display: flex;
    max-height: 800px;
    overflow: hidden;

    @include media(max, 1250px){
      max-height: 100%;
    }

    @include media(max, 960px){
      flex-direction: column;
    }

    .img-bg-container{
      max-width: 50%;
      position: relative;

      @include media(max, 1250px){
        max-width: 40%;
      }

      @include media(max, 960px){
        max-width: 100%;
        height: 300px;
      }

      .bg-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .div-avatar{
        position: absolute;
        top: 30px;
        left: 30px;

        .avatar{
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          width: 50px;
          height: 50px;
        }
      }
    }

    .right-bg-container{
      max-width: 50%;
      width: 100%;
      position: relative;
      background-color: #000000;
      padding: 50px 80px 30px 80px;

      @include media(max, 1250px){
        max-width: 60%;
      }

      @include media(max, 960px){
        max-width: 100%;
        padding: 50px 20px 30px 20px;
      }

      .btn-w{
        min-width: 120px!important;
      }

      .sheet-gradient{
        font-size: 15px;
        border-radius: 0;
        width: 120px;
        background: linear-gradient(to right, #EE3938, #000000);
        min-height: 35px;
        font-weight: 400;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icons-w{
        width: 30px;
        height: 30px;
      }
    }
  }

  .footer-main{
    margin-inline: calc(50% - 50vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px 20px 30px;
    gap: 40px;
    .yellow-m{
      color: var(--accent);
      font-size: 22px;
    }

    @include media(max, 690px){
      gap: 15px;

      .yellow-m{
        font-size: 16px;

        img{
          width: 10px!important;
        }
      }

      hr{
        margin-inline: 0px!important;
      }
    }
  }

  .container-place{
    background-color: rgba(0,0,0,0.1);
    margin-inline: calc(50% - 50vw);
    display: grid;
    place-items: center;
    padding: 15px 20px 15px 20px;

    @include media(max, 960px){
      margin-block: 0px!important;

      h3{
        font-size: 18px!important;
        font-weight: 700;
      }
    }
  }

  .section-map{
    margin-inline: calc(50% - 50vw);
    display: flex;
    overflow: hidden;

    @include media(max, 960px){
      flex-direction: column;
    }

    .left-map{
      max-width: 60%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      padding: 30px 60px 30px 100px;

      @include media(max, 960px){
        max-width: 100%;
        padding: 30px;
      }
    }

    .rigth-map{
      max-width: 40%;
      width: 100%;
      position: relative;

      @include media(max, 960px){
        max-width: 100%;
        max-height: 300px;
        margin-bottom: 30px;
      }

      .img-map{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .btn-map{
        min-width: 150px!important;
        max-width: 150px!important;
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  .section-tickets-available{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    .available-card{
      background-color: #000000;
      border-radius: 10px!important;
      padding: 10px 10px 20px 10px;
      width: 280px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;

      .img-card{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }

      .avatar-card{
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        width: 50px;
        height: 50px;
        margin-top: -25px;
      }

      .underline{
        text-decoration: underline;
      }

      .yellow-m{
        color: var(--accent);
      }

      .btn-buy{
        width: 250px;
        min-width: 250px!important;
        position: absolute;
        bottom: -55px;
      }
    }
  }
}

.v-dialog{
  display: grid;
  place-items: center;
  overflow: hidden;
  width: max-content;
  .container-ticket-img-1{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 28.5px;
      left: 27.5px;
      right: 27.5px;
      width: 145px;
      border-radius: 50%;
      height: 145px;
      object-fit: cover;
    }

    .black-circle{
      position: absolute;
      top: 75px;
      left: 77.5px;
      right: 77.5px;
      width: 45px;
      border-radius: 50%;
      height: 45px;
      background-color: #000000;
    }
  }

  .container-ticket-img-2{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 40px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 190px;
      object-fit: cover;
    }
  }

  .container-ticket-img-3{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 65px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 173px;
      object-fit: cover;
    }
  }

  .container-ticket-img-4{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 59px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 175px;
      object-fit: cover;
    }
  }

  .container-ticket-img-5{
    width: 200px;
    height: 310px;
    position: relative;

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 71px;
      left: 29.5px;
      right: 29.5px;
      width: 141px;
      border-radius: 0px;
      height: 168px;
      object-fit: cover;
    }
  }

  .container-ticket-img-6{
    width: 200px;
    height: 310px;
    position: relative;
    // transform: rotate3d(0, 0.5, 0, 20deg);

    .ticket-for-img{
      max-width: 200px;
    }

    .internal-img{
      position: absolute;
      top: 27.5px;
      left: 27.5px;
      right: 27.5px;
      width: 145px;
      border-radius: 40% 40% 0% 0%;
      height: 205px;
      object-fit: cover;
    }

    .black-circle{
      position: absolute;
      top: 75px;
      left: 72.5px;
      right: 72.5px;
      width: 55px;
      border-radius: 50%;
      height: 55px;
      background-color: #000000;
    }
  }
}