// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // form // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#form {
  --padding-header: clamp(1em, 4vw, 4em);
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;


  ////////////////////////// Quick tip help section/////////////////////////////////
  
  .static-img {
    width: 220px;
    position: relative;
  }

  .animated-img-up {
    width: 220px;
    position: relative;
    animation: upAndDown 7s infinite;
  }
  
  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(80px);
    }
    50% {
      transform: translateY(-80px);
    }
  }

  .animated-img-down {
    width: 220px;
    position: relative;
    animation: downAndUp 7s infinite;
  }
  
  @keyframes downAndUp {
    0%, 100% {
      transform: translateY(-80px);
    }
    50% {
      transform: translateY(80px);
    }
  }

  .title-line{
    border-bottom: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    padding-bottom: 25px;
    padding-inline: var(--margin-separator);
    position: relative;
  }

  .lowline{
    border-right: 1px solid var(--primary);
    height: 60px;
    width: 100%;
  }

  .container-expansion{
    margin-inline: calc(50% - 50vw);

    .wrap-container-expansion{
      padding-inline: var(--margin-global)!important;
    }

    .font20{
      @include media(max, 960px){
        font-size: 16px;
      }
    }

    .font18{
      font-size: 18px;
      @include media(max, 960px){
        font-size: 14px;
      }
    }

    .card-last-desc{
      background-color: #630f0f!important;
      border-radius: 0px!important;
      padding: 30px 40px 30px 40px;
    }
  }

  .panel-0 {
    background-color: transparent;

    .v-expansion-panel{
      background-color: transparent;
      border-radius: 0px;
      box-shadow: none!important;
    }
  }

  .panel-1 {
    background-color: #000;

    .v-expansion-panel{
      background-color: #000;
      border-radius: 0px;
      box-shadow: none!important;
    }
  }

  .panel-2 {
    background-color: transparent;

    .v-expansion-panel-header .v-icon {
      position: absolute;
      left: 330px;
      bottom: 5px;
      font-size: 60px;

      @include media(max, 630px){
        left: 250px!important;
        bottom: 0px;
      }
    }

    .v-expansion-panel{
      background-color: transparent;
      border-radius: 0px;
      box-shadow: none!important;
    }
  }

  .panel-3 {
    background-color: #000000;

    .v-expansion-panel{
      background-color: transparent;
      border-radius: 0px;
      box-shadow: none!important;
    }
  }

  .delete-in-mobile{
    @include media(max, 1475px){
      img{
        width: 180px;
      }
    }
    @include media(max, 1200px){
      img{
        width: 140px;
      }
    }
    @include media(max, 960px){
      margin-top: 20px!important;
      margin-bottom: 20px!important;

      img{
        animation: none;
        width: 100px;
      }
    }

    @include media(max, 650px){
      img{
        width: 60px;
      }
    }

    @include media(max, 470px){
      display: flex;
      flex-wrap: wrap;

      img{
        width: 80px;
      }
    }
  }

  .mobile-text-align{
      a{
        font-size: 20px!important;  
      }
    @include media(max, 960px){
      text-align: justify!important;
      a{
          font-size: 20px!important;  
      }
    }
  }

  .margin-block-mobile{
    @include media(max, 960px){
      margin-top: 20px!important;
      margin-bottom: 20px!important;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////

  .ql-picker-options{
    span{
      color: #000;
    }
  }
  input{
    text-transform: none!important;
  }

  h2 {
    font-size: 3em
  }

  .underline{
    text-decoration: underline;
    cursor: pointer;
  }

  h2::after {
    content: "";
    position: absolute!important;
    width: 100%!important;
    height: calc(var(--h-title))!important;
    right: 0!important;
    bottom: calc(var(--h-title) * -1)!important;
    border-right: 1px solid hsl(0, 84%, 58%)!important;
    border-right: 1px solid var(--primary)!important;
  }

  .imgBanner{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }

  .imgNft{
    width: 100%;
    min-height: 270px;
    max-height: 270px;
  }

  .imgMobile{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    position: relative;
    z-index: 3;
    // object-fit: cover;
  }

  .absolute-font{
    color: rgba(0, 0, 0, .4);
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px; 
  }

  .sheet-avatar{
    background-color: #f0eef0;
    border-radius: 50%;
    border: 5px solid var(--primary);
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    display: grid;  
    place-items: center;
  
    .imgAvatar{
      width: 111px;
      height: 111px;
      border-radius: 50%;
      position: relative;
      z-index: 3;
    }

    @include media(max, 680px){
      top: -60px;
    }

    .chip-pencil{
      background-color: var(--primary);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      bottom: -10px;
      right: 0px;
      padding-inline: 0px!important;
      position: absolute;
      z-index: 5;
    }
  }

  .input-file{
    background-color: transparent;
    min-height: 250px;
    height: 100%;
    z-index: 3!important;
    position: relative;

    .v-file-input__text{
      min-height: 200px;
    }
  }

  .btn-input-file{
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 150px!important;
    max-height: 40px!important;
    z-index: 4!important;
  }

  .btn-input-file-banner{
    position: absolute;
    bottom: -150px;
    left: 100px;
    top: 0;
    margin: auto;
    max-width: 150px!important;
    max-height: 40px!important;
    z-index: 4!important;

    @include media(max, 560px){
      left: 0;
      right: 0;
    }
  }

  .span-image{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 700!important;
    z-index: 2!important;
  }

  .nft-upload-div{
    background-color: #fff; 
    max-height: 300px; 
    min-height: 300px; 
    height: 300px; 
    width: 100%;
  }

  section.card {
    --bg: rgba(0, 0, 0, .4);
    padding-inline: 30px;
    padding-block: 40px;

    .span-badge{
      font-weight: bold;
      font-size: 1.7em;
      text-transform: capitalize;
      color: #fff;
    }

    .v-badge:not(.not_vuetify):not(.not) .v-badge__badge{
      background: #fff!important;
    }

    label {
      font-weight: bold;
      font-size: 1.3em;
      text-transform: capitalize;
    }

    .select{
      background-color: rgba(0, 0, 0, .4);
      padding-top: 15px!important;
      padding-left: 15px!important;

      .v-input__slot::before {
        background-color: transparent!important;
        border-color: transparent!important;
      }
    }

    .v-input__slot::after{
      display: none;
    }

    .v-input {
      overflow: hidden;
      padding-top: 0;
      * {text-transform: lowercase}
      &__slot::before {
        background-color: hsl(0, 84%, 58%);
        border-color: hsl(0, 84%, 58%);
      }
    }
  }

  .btn-plus-minus{
    background-color: var(--primary)!important;
    min-width: 1px!important;
    min-height: 1px!important;
    width: 20px!important;
    height: 20px!important;
    padding: 0px!important;
  }

  .container-card-merchandise{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;

    .v-card{
      background-color: rgba(0, 0, 0, .4)!important;

      .div-card-hover{
        display: none;
      }

      &:hover{
        cursor: pointer;

        .div-card-hover{
          display: flex;
          position: absolute;
          flex-direction: column;
          gap: 30px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          justify-content: center;
          align-items: center;
          padding-block: 20px;
          padding-inline: 20px;
          background-color: rgba(0, 0, 0, .4);
        }
      }
    }

    @include media(max, 800px){
      justify-content: center;
    }
  }

  .custome-expansion {
    padding-inline: 0 !important;
  }
}




/////////////////dialog/////////////////////////////


.quick-help-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: max-content;
  padding: 15px;
  padding-block: 40px;
}