#my-nft-ticket{
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;
  padding-top: 4em;

  .container-nfts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .container-ticket-img{
      .internal-img{
        display: none;
      }

      .border-img{
        display: none;
      }

      .internal-img-no-border{
        display: block;
      }
    }

    .container-ticket-img:hover{
      cursor: pointer;
      .no-border-img{
        display: none;
      }
      .border-img{
        display: block;
      }
      .internal-img{
        display: block;
      }
      .internal-img-no-border{
        display: none;
      }
    }

    .container-ticket-img-1{
      width: 200px;
      height: 310px;
      position: relative;
  
      .ticket-for-img{
        max-width: 200px;
      }

      .internal-img{
        position: absolute;
        top: 28.5px;
        left: 27.5px;
        right: 27.5px;
        width: 145px;
        border-radius: 50%;
        height: 145px;
        object-fit: cover;
      }

      .internal-img-no-border{
        position: absolute;
        top: 19px;
        left: 19px;
        right: 20px;
        width: 162px;
        border-radius: 50%;
        height: 162px;
        object-fit: cover;
      }
  
      .black-circle{
        position: absolute;
        top: 75px;
        left: 77.5px;
        right: 77.5px;
        width: 45px;
        border-radius: 50%;
        height: 45px;
        background-color: #000000;
      }
    }
  
    .container-ticket-img-2{
      width: 200px;
      height: 310px;
      position: relative;
  
      .ticket-for-img{
        max-width: 200px;
      }
  
      .internal-img{
        position: absolute;
        top: 40px;
        left: 29.5px;
        right: 29.5px;
        width: 141px;
        border-radius: 0px;
        height: 190px;
        object-fit: cover;
      }

      .internal-img-no-border{
        position: absolute;
        top: 43px;
        left: 34px;
        right: 34px;
        width: 126px;
        border-radius: 0px;
        height: 175px;
        object-fit: cover;
      }
    }
  
    .container-ticket-img-3{
      width: 200px;
      height: 310px;
      position: relative;
  
      .ticket-for-img{
        max-width: 200px;
      }
  
      .internal-img{
        position: absolute;
        top: 65px;
        left: 29.5px;
        right: 29.5px;
        width: 141px;
        border-radius: 0px;
        height: 173px;
        object-fit: cover;
      }

      .internal-img-no-border{
        position: absolute;
        top: 68px;
        left: 39px;
        right: 35px;
        width: 121.5px;
        border-radius: 0px;
        height: 152px;
        object-fit: cover;
      }
    }
  
    .container-ticket-img-4{
      width: 200px;
      height: 310px;
      position: relative;
  
      .ticket-for-img{
        max-width: 200px;
      }
  
      .internal-img{
        position: absolute;
        top: 59px;
        left: 29.5px;
        right: 29.5px;
        width: 141px;
        border-radius: 0px;
        height: 175px;
        object-fit: cover;
      }

      .internal-img-no-border{
        position: absolute;
        top: 58px;
        left: 34px;
        right: 29.5px;
        width: 126px;
        border-radius: 0px;
        height: 162.5px;
        object-fit: cover;
      }
    }
  
    .container-ticket-img-5{
      width: 200px;
      height: 310px;
      position: relative;
  
      .ticket-for-img{
        max-width: 200px;
      }
  
      .internal-img{
        position: absolute;
        top: 71px;
        left: 29.5px;
        right: 29.5px;
        width: 141px;
        border-radius: 0px;
        height: 168px;
        object-fit: cover;
      }

      .internal-img-no-border{
        position: absolute;
        top: 68.5px;
        left: 33.5px;
        right: 29.5px;
        width: 126.5px;
        border-radius: 0px;
        height: 154.5px;
        object-fit: cover;
      }
    }
  
    .container-ticket-img-6{
      width: 200px;
      height: 310px;
      position: relative;
      // transform: rotate3d(0, 0.5, 0, 20deg);
  
      .ticket-for-img{
        max-width: 200px;
      }
  
      .internal-img{
        position: absolute;
        top: 27.5px;
        left: 27.5px;
        right: 27.5px;
        width: 145px;
        border-radius: 40% 40% 0% 0%;
        height: 205px;
        object-fit: cover;
      }
  
      .black-circle{
        position: absolute;
        top: 75px;
        left: 72.5px;
        right: 72.5px;
        width: 55px;
        border-radius: 50%;
        height: 55px;
        background-color: #000000;
      }
    }
  }
}