// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // profile // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
@import '../components/modals.scss';

#profile {
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;

  &-banner {

    .v-card {
      height: 100% !important;
      justify-content: flex-start;
    }

    .active {
      border: 2px solid var(--primary) !important;
    }

    .placeholder {
      background-color: rgba(255, 255, 255, .4);
      border-radius: inherit;
      border: 2px dashed #fff;
      height: 100%;
      width: 100%;
      position: relative;

      span {
        position: absolute;
        inset: 0;
        margin: auto;
        display: grid;
        place-content: center;
        text-align: center;
      }
    }

    .banner {
      cursor: pointer !important;
      width: 150px;
      height: 100px;
    }

    .bannerMobile {
      cursor: pointer !important;
      --size: 150px;
      width: 100px;
      height: 150px;
    }

    .avatar {
      --size: 128px;
      width: var(--size) !important;
      height: var(--size) !important;

      isolation: isolate;
      position: relative;
      overflow: visible;
      * { border-radius: 50%; }

      label {
        cursor: pointer !important;
        position: absolute;
        inset: 0;
        overflow: hidden;
      }
      img {
        @include absoluteCenter;
        --w: 100%;
        --h: 100%;
        --br: 50%;
        --of: cover;
      }
    }
  }


  .header {
    --bg: hsl(0, 0%, 62%, .4);
    --w: 100vw;
    --h: 500px;
    margin-inline: calc(50% - 50vw);
    .v-responsive__content {
      position: relative;
      display: grid;
      place-items: center;
    }
    // tier tag
    &::before {
      content: var(--tag-tier);
      @include absolute(0,5px,0);

      @include btn;
      --bg: var(--bg-tier);
      --min-w: clamp(5em, 8vw, 8em);
      --w: max-content;
      --br: 0;
      --fs: 1.5em;
      --p: 8px 1em;
      font-weight: 700;
      text-transform: capitalize;
      text-align: center;
      
      transform: translateY(-100px);
      transition: .3s $ease-return;
    }
    &.hover::before {transform: translateY(0)}

    .v-avatar {
      isolation: isolate;
      position: relative;
      overflow: visible;
      // gradient background
      &::before {
        content: "";
        position: absolute;
        inset: -20px;
        border-radius: 50%;
        background: var(--bg-tier);
        z-index: -1;
      }
      label {
        position: absolute;
        inset: 0;
        overflow: hidden;
      }
      img {
        @include absoluteCenter;
        --w: 100%;
        --h: 100%;
        --br: 50%;
        --of: cover;
      }
    }
    .v-btn, label {
      --fs: 16px;
      --h: 28px;
      --br: 4px;
      --bg: #280909;
      --p: 0 clamp(1em, 2vw, 2em);
      font-weight: 600;
      position: absolute;
      left: calc(var(--margin-global) + var(--margin-separator));
      bottom: 1.5em;
    }
    label {
      cursor: pointer;
      display: grid;
      place-items: center;
    }
  }

  .container-user {
    --padding: 2em;
    position: relative;
    padding: var(--padding);
    &--social {
      position: absolute;
      top: calc(var(--padding) / 1.5);
      right: 0;
    }
    h2 {
      @include media(max, 1000px) {margin-top: 1.5em}
      font-size: 2.5em;
      text-align: center;
    }
    p {font-size: 1.3em; line-height: 1.2}
  }

  .container-nfts {
    --gtc: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    gap: 2em;
    margin-block: 4em;
    margin-inline: var(--margin-separator);
    min-height: 400px;
    .v-card {
      aspect-ratio: 1 / 1.5 !important;
    }
  }

  // edit profile
  .card-background-padding{
    background-color: rgba(0, 0, 0, .4)!important;
    padding-block: 30px!important;

    .btn{
      width: 150px!important;
    }
  }
  .imgBanner{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }

  .imgNft{
    width: 100%;
    min-height: 270px;
    max-height: 270px;
  }

  .imgMobile{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    position: relative;
    z-index: 3;
    // object-fit: cover;
  }

  .absolute-font{
    color: rgba(0, 0, 0, .4);
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 5px; 
  }

  .sheet-avatar{
    background-color: #f0eef0;
    border-radius: 50%;
    border: 5px solid var(--primary);
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    display: grid;  
    place-items: center;
  
    .imgAvatar{
      width: 111px;
      height: 111px;
      border-radius: 50%;
      position: relative;
      z-index: 3;
    }

    @include media(max, 680px){
      top: -60px;
    }

    .chip-pencil{
      background-color: var(--primary);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      bottom: -10px;
      right: 0px;
      padding-inline: 0px!important;
      position: absolute;
      z-index: 5;
    }
  }

  .input-file{
    background-color: transparent;
    min-height: 250px;
    height: 100%;
    z-index: 3!important;
    position: relative;

    .v-file-input__text{
      min-height: 200px;
    }
  }

  .btn-input-file{
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 150px!important;
    max-height: 40px!important;
    z-index: 4!important;
  }

  .btn-input-file-banner{
    position: absolute;
    bottom: -150px;
    left: 100px;
    top: 0;
    margin: auto;
    max-width: 150px!important;
    max-height: 40px!important;
    z-index: 4!important;

    @include media(max, 560px){
      left: 0;
      right: 0;
    }
  }

  .span-image{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 700!important;
    z-index: 2!important;
  }

  .nft-upload-div{
    background-color: #fff; 
    max-height: 100%; 
    min-height: 100%; 
    height: 100%; 
    width: 100%;
  }

  h2 {
    padding-inline: 30px;
    padding-bottom: .5em;
    position: relative;
    &::after {
      content: "";
      @include absolute(0,auto,0,0);
      width: 100%;
      height: 1px;
      background-color: var(--primary);
    }
  }

  .v-form {
    margin-block: 3em 6em;
    gap: 3em;
    h2 {
      padding-inline: 30px;
      padding-bottom: .5em;
      position: relative;
      &::after {
        content: "";
        @include absolute(0,auto,0,0);
        width: 100%;
        height: 1px;
        background-color: var(--primary);
      }
    }
    section.card {
      --bg: rgba(0, 0, 0, .4);
      --p:3em;
      label {
        font-weight: bold;
        font-size: 1.3em;
        text-transform: capitalize;
      }
      .v-input {
        overflow: hidden;
        padding-top: 0;
        * {text-transform: lowercase}
        &__slot::before {
          background-color: #6e6e6e;
          border-color: #6e6e6e;
        }
      }
    }
    > div.center > .v-btn {
      --fs: 16px;
      --br: 4px;
      &:first-of-type {
        --bg: #fff;
        --c: var(--primary);
      }
    }
  }

  .custome-expansion {
    padding-inline: 0 !important;
  }

  .less-font-size{
    @include media(max, 960px){
      font-size: 15px!important;
    }
  }

  .absolute-font {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
  }
  
}
input{
  text-transform: none!important;
}


.nft-dialog-profile{
  .v-card{
    .card-background-padding{
      background-color: rgba(0, 0, 0, .6)!important;
      padding-block: 30px!important;
      min-width: 100%!important;
    
      .btn{
        width: 150px!important;
        max-height: 36px!important;
      }
    }

    .btn{
      width: 150px!important;
      margin-inline: auto;
      max-height: 36px!important;
    }
  }
}


#profile {
  // TODO
  #custome-slider.v-item-group {
    @include media(max, 400px) {
      min-width: 100vw;
      margin-inline: calc(50% - 50vw);
    }
    .v-slide-group {
      &__next--disabled i,
      &__prev--disabled i {filter: invert(77%)}
      &__content {
        --basis: clamp(250px, 20vw, 300px);
        gap: 2em;
        // padding-inline: 70px;
        display: flex;
        justify-content: space-between;
        > * {flex-basis: var(--basis)}
        .v-sheet {
          --padding: 10px;
          padding: var(--padding);
          gap: var(--padding);
          padding-bottom: 2em;
          border-radius: 5px;
          max-width: var(--basis);
          * {white-space: initial}
          .v-card {
            transition: .5s $ease;
            .container-content {
              position: relative;
              margin-top: calc(20px + 5px)
            }
            .v-avatar {
              @include absolute(0,-50px,0,);
            }
            a {font-size: 15px; text-decoration: underline; margin-bottom: .3em}
            p {font-size: 13px}
            span.floor {font-size: 15px; font-weight: bold}
          }
          .tier-desc {
            --gap: .5em;
            gap: var(--gap);
            *{font-size: 15px};
            ul, a {padding-inline: 24px}
            a {
              line-height: 1.2;
              text-align: center;
              text-decoration: underline;
            }
            ul {
              display: grid; gap: var(--gap);
              li::marker {
                color: var(--accent);
              }
            }
          }
          .container-actions {
            margin-top: auto;
            font-size: 13px;

            .config{
              max-width: max-content!important;
              align-self: center!important;
              justify-self: center!important;
            }

            a {
              --margin: 1em;
              --c: var(--accent);
              text-align: center;
              width: 100%;
              text-decoration: underline;
              position: relative;
              margin-block: var(--margin);
              padding-bottom: var(--margin);
              &::after {
                content: "";
                @include absolute(0,auto,0,0);
                width: 100%;
                height: 1px;
                border-radius: 2vmax;
                background-color: var(--primary);
              }
            }
            .v-btn {--fs: 17px}
          }
        }
      }
    }
  }
  
  .container-collections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custome-slider.v-item-group {
    @include media(max, 400px) {
      min-width: 100vw;
      margin-inline: calc(50% - 50vw);
    }
    .v-slide-group {
      &__next--disabled i,
      &__prev--disabled i {filter: invert(77%)}
      &__content {
        --basis: clamp(250px, 20vw, 300px);
        gap: 2em;
        // padding-inline: 70px;
        display: flex;
        justify-content: space-between;
        > * {flex-basis: var(--basis)}
        .v-sheet {
          --padding: 10px;
          padding: var(--padding);
          gap: var(--padding);
          padding-bottom: 2em;
          border-radius: 5px;
          max-width: var(--basis);
          * {white-space: initial}
          .v-card {
            transition: .5s $ease;
            .container-content {
              position: relative;
              margin-top: calc(20px + 5px)
            }
            .v-avatar {
              @include absolute(0,-50px,0,);
            }
            a {font-size: 15px; text-decoration: underline; margin-bottom: .3em}
            p {font-size: 13px}
            span.floor {font-size: 15px; font-weight: bold}
          }
          .tier-desc {
            --gap: .5em;
            gap: var(--gap);
            *{font-size: 15px};
            ul, a {padding-inline: 24px}
            a {
              line-height: 1.2;
              text-align: center;
              text-decoration: underline;
            }
            ul {
              display: grid; gap: var(--gap);
              li::marker {
                color: var(--accent);
              }
            }
          }
          .container-actions {
            margin-top: auto;
            font-size: 13px;

            .config{
              max-width: max-content!important;
              align-self: center!important;
              justify-self: center!important;
            }

            a {
              --margin: 1em;
              --c: var(--accent);
              text-align: center;
              width: 100%;
              text-decoration: underline;
              position: relative;
              margin-block: var(--margin);
              padding-bottom: var(--margin);
              &::after {
                content: "";
                @include absolute(0,auto,0,0);
                width: 100%;
                height: 1px;
                border-radius: 2vmax;
                background-color: var(--primary);
              }
            }
            .v-btn {--fs: 17px}
          }
        }
      }
    }
  }

  .less-font-size{
    @include media(max, 960px){
      font-size: 15px!important;
    }
  }
}