// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat var(--bg-ap);
  background-size: cover;
  // overflow: hidden;
  //- responsive font size -//
  .v-main {
    & > * {@include media(max,small) {font-size: clamp(10px, 1.5vw, 12px)}}
  }
  // footer margin modifiable
  & .with {
    padding-block: 100px 22em !important;
    @include media(max, small) {padding-bottom: 33em !important}
    @include media(max, x-small) {padding-bottom: 26.8475em !important}
  }
  & .without {padding-block: 100px 0 !important}
}
